* {
  margin: 0;
  padding: 0;
  /* border: solid red 1px; */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  padding: 0 20px;
}

section h2:first-child a {
  color: #f42;
  text-decoration: none;
}

section h2:first-child a:hover {
  color: black;
}

/* Navigation */

nav {
  display: flex;
  flex-direction: column;
}

nav section:first-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.5vw;
  background-color: rgb(28, 28, 28);
  color: rgb(156, 156, 156);
  font-size: 12px;
}

nav section:last-child {
  background-color: white;
  color: rgb(180, 180, 180);
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
  display: flex;
  justify-content: space-between;
}

nav section:last-child span:hover {
  color: rgb(28, 28, 28);
}

nav section div {
  margin: auto 10px;
}

nav section div span {
  margin: auto 5px;
}

nav section div span:hover {
  color: white;
  cursor: pointer;
}

/* Navigation Section End ****************************** */

header .featured-articles {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
}

.featured-articles > *:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.featured-articles > *:first-child .bgOverlay {
  background: 10px 10px / 50% url('../img/logo.svg') no-repeat,linear-gradient(135deg, red, transparent), linear-gradient(to bottom, transparent, black);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.featured-articles > * .bgOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.featured-articles > * .bgOverlay:hover {
  background-color: transparent;
}

.featured-articles > div {
  position: relative;
}

.featured-articles img {
  width: 100%;
  height: 100%;
}

.featured-articles .category {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 0.8em;
}

.featured-articles h2 {
  color: white;
}

.featured-articles > div:not(:first-child) h2 {
  color: white;
  font-size: 1em;
}

.featured-articles span {
  color: darkgray;
  font-size: 0.7em;
}

.featured-articles span a {
  color: inherit;
  text-decoration: none;
}

.featured-articles span a:hover {
  text-decoration: underline;
}


.featured-articles .overlay {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

@media screen and (max-width:767px) {
  .featured-articles > *:first-child {
    grid-column: span 3;
    grid-row: auto;
  }

  .featured-articles > * {
    grid-column: span 3;
    height: 30vh;
  }

  .featured-articles img {
    object-fit: none;
    object-position: top center;
  }
  
  .featured-articles > * .bgOverlay {
    background-image: linear-gradient(to bottom, transparent, black);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
  }

  .featured-articles > *:first-child .bgOverlay {
    background: linear-gradient(to bottom, transparent, black);
  }
  
  .featured-articles > div h2 {
    color: white;
    font-size: 1em;
  }
}

/* Latest News Section */

.latest-news {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-around;
  gap: 15px;
  margin: 10px auto;
  max-width: 1192px;
}

.latest-news h2 {
  grid-column: 1 / -1;
}

.latest-news a:hover {
  color: #000;
}

.latest-news article {
  grid-column: span 3;
}

.latest-news article > a:first-child {
  display: block;
  width: 100%;
  position: relative;
  /* Hack for keeping image aspect ratio based on https://css-tricks.com/aspect-ratio-boxes/ */
  padding-top: 56.25%;
}

.latest-news article img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.latest-news h3 {
  font-size: 0.9em;
  font-weight: 900;
  line-height: 1.1em;
  margin-top: 10px;
}

.latest-news h3 a {
  color: black;
  text-decoration: none;
}

.latest-news h3 a:hover {
  color: #f42;
  text-decoration: underline;
}
.latest-news span {
  color: gray;
  font-size: 0.7em;
}

.latest-news span a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width:767px) {
  .latest-news article {
    grid-column: span 12;
  }
  
  .latest-news article > a:first-child {
    display: inline-block;
    position: relative;
    height: 75px;
    width: 75px;
    padding-top: 0;
    margin-right: 10px;
    float: left;
  }
  
  .latest-news article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .latest-news article {
    grid-column: span 4;
  }
}


/* Latest Funding rounds */

.latest-funding-rounds {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-around;
  gap: 15px;
  margin: 10px auto;
  max-width: 1192px;
}

.latest-funding-rounds .headings {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-content: end;
}

.latest-funding-rounds article {
  grid-column: span 3;
  background-color: rgba(255,68,34,.03);
}

.latest-funding-rounds .headings ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.latest-funding-rounds .headings li {
  display: inline-block;
  vertical-align: sub;
  font-size: 0.7em;
}


.latest-funding-rounds .headings li:not(:first-child)::before {
  content: "|";
  display: inline-block;
  font-size: 0.8em;
  color: #f42;
  width: 0.5px;
  margin: 0 5px;
}

.latest-funding-rounds .headings li a {
  text-decoration: none;
  color: #f42;
}

.latest-funding-rounds .headings li a:hover {
  color: black;
}

.latest-funding-rounds .funding-header {
  display: block;
  min-height: 80px;
  position: relative;
  text-decoration: none;
}

.latest-funding-rounds .funding-header h3 {
  color: white;
  font-weight: 800;
  display: block;
  background-color: #f42;
  padding-left: 80px;
}

.latest-funding-rounds .funding-subtitle {
  background-color: rgba(255,68,34,.08);
  padding: 10px 0 10px 80px;
}

.latest-funding-rounds .price {
  color: black;
  font-weight: bold;
  display: block;
}

.latest-funding-rounds .series {
  text-transform: uppercase;
  color: gray;
  display: block;
  font-weight: 400;
  font-size: 0.7em;
}

.latest-funding-rounds .funding-header img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  left: 10px;
}

.latest-funding-rounds .funding-features {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.latest-funding-rounds .funding-features li {
  font-size: 0.7em;
}

.latest-funding-rounds .funding-features a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

.latest-funding-rounds .funding-features a:hover {
  color: black;
}

.latest-funding-rounds .funding-news {
  color: rgb(77, 77, 77);
  font-size: 0.7em;
  border-top: 1px rgba(255,68,34,0.2) solid;
  padding: 10px;
}

.latest-funding-rounds .funding-news a {
  color: lightgray;
  text-decoration: none;
}


@media screen and (max-width:767px) {
  .latest-funding-rounds .headings {
    flex-direction: column;
  }

  .latest-funding-rounds .headings ul {
    margin-top: 10px;
  }

  .latest-funding-rounds .headings li {
    display: block;
    font-size: 1em;
  }

  .latest-funding-rounds .headings li:not(:first-child)::before {
    display: none;
  }

  .latest-funding-rounds article {
    grid-column: span 12;
  }

  .latest-funding-rounds .funding-features li {
    font-size: 0.9em;
  }

  .latest-funding-rounds .funding-news {
    font-size: 0.9em;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .latest-funding-rounds article {
    grid-column: span 4;
  }

  .latest-funding-rounds article:last-of-type {
    display: none;
  }
}

/***************************************************************************************/



            .most-popular{
                display: grid ;
                width: 100%;
                gap : 3px;
                grid-template-columns: 1fr 1fr 1fr;
            }

            .most-popular article {
                background-color: lightgray ;
                gap: 3px ;
                width: 100% ;
                height: 100% ;
            }

            .most-popular article .image {
                width: 100% ;
                height: 270px;
            }

        

.latest-deals {
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.latest-deals .headings {
  display: flex;
  justify-content: space-between;
}

.latest-deals .articles {
  width: 100%;
  height: 100%;
}

.latest-deals .articles article {
  display: flex;
  width: 25%;
  height: 50%;
  float: left;
}

footer {
  margin-top: 10px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.contact .share {
  width: 60%;
  height: 35%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.contact .share div {
  width: 100%;
}

.contact .info {
  text-align: center;
  margin: auto;
}

footer .copyright {
  height: 60%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.copyright div {
  height: 20%;
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
