* {
  margin: 0;
  padding: 0;
  border: solid red 1px;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
}

nav section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.5vw;
  background-color: rgb(28, 28, 28);
  color: rgb(156, 156, 156);
  font-size: 12px;
}

nav section:last-child {
  background-color: white;
  color: rgb(180, 180, 180);
  font-size: 16px;
}

nav section:last-child span:hover {
  color: rgb(28, 28, 28);
}

nav section div {
  margin: auto 10px;
}

nav section div span {
  margin: auto 5px;
}

nav section div span:hover {
  color: white;
  cursor: pointer;
}
/* Navigation Section End ****************************** */

header .featured-articles {
  width: 80%;
  height: 60vh;
  margin: 10px auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.featured-articles div {
  height: 95%;
  width: 95%;
  margin: auto;
}

.featured-articles aside {
  height: 95%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.featured-articles aside div {
  margin: auto;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
}

/* Header Section End ************************ */

.latest-news {
  width: 90%;
  height: 70vh;
  margin: 10px auto;
}

.latest-news article {
  width: 25%;
  height: 50%;
  float: left;
}

.latest-funding-rounds {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50vh;
}

.latest-funding-rounds .headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latest-funding-rounds .articles {
  width: 100%;
  height: 80%;
}

.articles article {
  width: 25%;
  height: 100%;
  float: left;
}

.most-popular {
  width: 90%;
  height: 300vh;
  margin: auto;
}

.most-popular article {
  width: 33.333%;
  height: 33.333%;
  float: left;
}

.latest-deals {
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.latest-deals .headings {
  display: flex;
  justify-content: space-between;
}

.latest-deals .articles {
  width: 100%;
  height: 100%;
}

.latest-deals .articles article {
  display: flex;
  width: 25%;
  height: 50%;
  float: left;
}

footer {
  margin-top: 10px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.contact .share {
  width: 60%;
  height: 35%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.contact .share div {
  width: 100%;
}

.contact .info {
  text-align: center;
  margin: auto;
}

footer .copyright {
  height: 60%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.copyright div {
  height: 20%;
  width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
